.filtroData {
    display: flex;
    align-items: center;

    gap: 8px; /* Reduz o espaço entre os campos */
    align-items: center;
    flex-wrap: wrap; /* Quebra de linha em telas pequenas */
}
.filtroValor {
    display: flex;
    align-items: center;

    gap: 8px; /* Reduz o espaço entre os campos */
    align-items: center;
    flex-wrap: wrap; /* Quebra de linha em telas pequenas */
}

.Filtro-usuario {
    display: flex;
    gap: 20px; /* espaço entre os filtros */
    justify-content: center; /* centraliza os filtros horizontalmente */
    margin: 20px 0;
}

.FiltroData,
.FiltroValor {
    display: flex;
    gap: 15px; /* espaço entre os inputs dentro de cada filtro */
}

.FiltroData input,
.FiltroValor input {
    width: 150px;
    height: 40px; /* mais altos */
    padding: 0 12px;
    font-size: 1.1rem;
    border: 2px solid #4a90e2; /* borda azul */
    border-radius: 8px;
    background-color: #f0f8ff; /* fundo clarinho */
    color: #333;
    transition: border-color 0.3s ease, box-shad;
}
